// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#special {
  background-color: #FF3300;
}

body {
  padding-bottom: 60px;
  text-align: auto;
  margin: 15px;
}

.col-md-3{
  overflow-wrap: break-word;
}

